<h1>パスワードをお忘れの場合</h1>

<div class="container">
<div class="col-md-4 col-md-offset-4 container-form">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "パスワードの再設定方法を送信", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "customers/shared/links" %>

</div>
</div>