<div class="modal-dialog modal-md modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>

      <h1 class="modal-title">ご予約の変更</h1>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_with(model: @event, url: update_admin_event_response_user_path(@event), local: true, method: :patch) do |f| %>
                
              <%= f.label :title %>
              <%= f.collection_select :title, @menus, :view_item_and_price, :view_item_and_price, class: "form-control" %><br>

              <%= f.label :started_at %>
              <%= f.datetime_select :started_at, { minute_step: 30, start_hour: 9, end_hour: 18 } %>
              <%= f.label :selector_stylist_request %>
              <%= f.collection_select :selector_stylist_request, @users, :name, :name, { include_blank:"希望なし" }, { class: "form-control" } %>
              <%#= f.hidden_field :status_event_request, value: "リクエスト中" %>
              <%= f.label :note %>
              <%= f.text_area :note, class: "form-control" %>
            
              <%= f.submit "変更", class: "btn btn-md btn-primary" %>
        
              <button type="button" class="btn btn-default btn-info %>" data-dismiss="modal">
                    キャンセル
              </button>
            <% end %>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>