<% if current_user.admin? %>
  <h1>管理者専用ページ</h1>
<% else %>
<h1>スタッフ専用ページ</h1>
<% end %>

<div class="col-sm-9 col-sm-offset-1">
<% if current_user.admin? %>
  <%= link_to '<<ユーザー一覧に戻る', users_path, style: "font-size:16px;" %>
<% end %>

<p class="center">【<%= @user.name%>さんのアカウント情報】</p>
<table class="table table-bordered table-condensed table-striped table-account">
  <thead>
    <tr>
      <th class="table-head-3">管理番号</th>
      <th class="table-head-3">名前</th>
      <th class="table-head-3">Email</th>
      <th class="table-head-3">電話番号</th>
      <th class="table-head-3">変更</th>
    </tr>
  </thead>
  <tbody>
    <tr class="center">
      <td><%= @user.control_number %></td>
      <td><%= @user.name %></td>
      <td><%= mail_to @user.email %></td>
      <td><%= @user.phone %></td>
      <% if current_user.admin? %>
        <td><%= link_to '管理者変更', edit_user_path(@user), remote: true, class: "btn btn-xs btn-danger" %></td>
      <% else %>
        <td><%= link_to '変更', edit_user_registration_path(@user), local: true, class: "btn btn-xs btn-primary" %></td>
      <% end %>
    </tr>
  </tbody>
    <th class="table-head-3">住所</th>
    <td colspan="4" class="center"><%= @user.address %></td>
</table>

<% if !current_user.admin? %>
  <p class="center">【お客様ご予約状況】</p>
    <% @users.each do |user| %>
    <table class="table table-bordered table-condensed table-account">
    
    <thead>
      <tr><th colspan="6" class="table-head-2"><%= user.name %> からのご予約 [Email: <%= mail_to user.email %> ] [電話番号: <%= user.phone %> ]</th></tr>
      <tr> 
        <th class="table-head-1">ご希望の時間</th>
        <th class="table-head-1">ご希望の内容</th>
        <th class="table-head-1">ご希望のスタイリスト</th>
        <th class="table-head-1">変更</th>
        <th class="table-head-1">削除</th>
        <th class="center" style="background-color: #FFFF00;">リクエスト状況</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
      <% if event.user_id == user.id %> <%# これでeventのなかで該当するuserのeventだけを表示する  %>
        <tr> 
          <td class="center"><%= l(event.started_at, format: :custom) %></td>
          <td class="center"><%= event.title %></td>
          <td class="center"><%= event.selector_stylist_request %></td>
          <td class="center"><%= link_to '変更', edit_event_response_user_path(user, event), remote: true, class: "btn btn-xs btn-primary" %></td>
          <td class="center"><%= link_to '削除', destroy_event_response_user_path(user, event), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-xs btn-info" %></td>
          <td class="center" style="color: #F00; font-weight: 900;"><%= event.status_event_request %></td>

        </tr>
        <thead>
          <th colspan="5" class="table-head-1">ご要望/通信欄</th>
          <th class="table-head-1">リクエスト状況の更新</th>
        </thead>
        <tbody>
          <td colspan="5"  class="center"><%= event.note %></td>
          <td class="center">
            <%= form_with(model: @event, url: update_request_status_user_path(user, event), method: :patch, local: true) do |f| %>
              <%= f.select :status_event_request, [['リクエスト中'], ['予約手続完了(予約済)'],['内容変更が必要'], ['保留中'], ['リクエスト取消し済']], { include_blank: true } %>
              <%= f.submit "更新", class: "btn btn-xs btn-danger" %>
            <% end %>
          </td>
        </tbody>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>

</div>
</div>

<%# モーダルウィンドウ %>
<div id="user-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="user-edit-event-response" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
