 <h1 class="center">ご予約の変更</h1>
      
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @event, url: user_event_path(current_user, @event), local: true, method: :patch) do |f| %>
        
      <%= f.label :title %>
      <%= f.select :title, [['カット、シャンプー'], ['カット、シャンプー、パーマ'], ['縮毛矯正'], ['着付け']], { include_blank: false, selected: 1 }, class: "form-control" %>

      <%= f.label :started_at %>
      <%= f.datetime_select :started_at, class: "form-control" %>
      <% f.hidden_field :requested, :value => "requested" %>
      <%= f.label :note %>
      <%= f.text_area :note, class: "form-control" %>
    
      <%= f.submit "変更", class: "btn btn-md btn-primary" %>

    <% end %>
  </div>
</div>