<h1>予約／予約変更／キャンセル</h1>

<div class="col-sm-9 col-sm-offset-1">
<div class="container">
<%= link_to '新規予約', new_user_event_path(current_user), class: "btn btn-md btn-primary" %>
<table class="table table-bordered table-condensed table-appointment">
  <thead>
    <tr>
      <th>予約</th>
      <th>予約時間</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= l(event.started_at, format: :short) %></td>
        
        <td><%= link_to '編集', edit_user_event_path(current_user, event) %></td>
        <td><%= link_to '削除', user_event_path(current_user, event), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container container-calendar">
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <%= event.started_at.hour %>:<%= event.started_at.min %>
    <%= event.title %>
  <% end %>
<% end %>
</div>
</div>


