<h1>新規ご予約</h1>

<div class="container">
  <div class="col-md-4 col-md-offset-4 container-form">

  <%= form_with(model: @event, url: user_events_path(current_user), local: true) do |f| %>

      <%= f.label :title %>
      <%= f.select :title, [['カット、シャンプー'], ['カット、シャンプー、パーマ'], ['縮毛矯正'], ['着付け']], { include_blank: false, selected: 1 }, class: "form-control" %>

      <%= f.label :started_at %>
      <%= f.datetime_select :started_at, class: "form-control" %>
      <% f.hidden_field :requested, :value => "requested" %>
      <%= f.label :note %>
      <%= f.text_area :note, class: "form-control" %>
    
      <%= f.submit "予約", class: "btn btn-md btn-primary" %>

  <% end %>
  </div>
</div>