<header class="header navbar nabvar-fixed-top">
  <div>
    <%= link_to 'カットハウスオレンジ', root_path, id: "logo" %>
      
    <div>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to 'ホーム', root_url, class: "nav" %></li>
        <li><%= link_to 'メニュー☆料金', '#', class: "nav" %></li>
        <li><%= link_to 'スタッフ紹介', '#', class: "nav" %></li>
        
      </ul>    
    </div>

    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if customer_signed_in? %>
            <li class="nav-login">【お客様 ログイン中】</li> 
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-sm btn-primary nav-login" %>
        <% elsif user_signed_in? %>
          <li class="nav-login">【従業員 ログイン中】</li> 
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary nav-login" %>
        <% else %>
        <% end %>
      </ul>
    </div>
  </div>
</header>